* {
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
}

body {
    background-color: lightblue;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: grey;
    color: black;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    padding-left: 2%;
}

.jewett {
    color: lightblue;
}

nav {
    padding-top: 0.5%;
    padding-right: 3%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

ul li {
    display: inline-block;
    margin-left: 0%;
}

a {
    color: black;
}

nav a:hover {
    color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
    padding: 0.5% 2%;
}

section {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 1%;
}

.side {
    width: 15%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    border-right: 5px solid gray;
}

.side h2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 50px;
    border: 5px solid red;
}

.side img {
    display: block;
    margin-left: auto;
    margin-right: 0;
    max-width: 250px;
}

.myself {
    max-height: 100%;
    max-width: auto;
    flex: 0 0 0;
}

.content {
    display: flex;
    flex-direction: row;
    padding-right: 1%;
    flex-direction: row;
    width: 100%;
}

.content p {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
}

.work-img {
    display: flex;
    flex-direction: row;
    flex: auto;
    text-align: center;
    border: 5px solid red;
    object-fit: contain;
    width: 72%;
}

.work-img ul {
    display: flex;
    flex-direction: row;
    flex: auto;
    object-fit: contain;
    border: 5px solid orange;
    width: 100%;
}

.work-img ul li {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin: 2% 2%;
    opacity: 70%;
    object-fit: contain;
    border: 5px solid blue;
    width: 100%;
}

.work-img ul li:hover {
    opacity: 100%;
}

.work-img ul li img {
    display: flex;
    object-fit: contain;
    flex: auto;
}

.thumbnail {
    max-width: 500px;
    height: auto;
}

.work-img ul li p {
    margin: 0 auto;
    z-index: 999;
    width: 30%;
    height: 20%;
    border: 5px solid red;
}

.content a:hover {
    color: grey;
}

.content ul {
    width: 75%;
    list-style: none;
    display: table;
    text-align: left;
}

.content ul li {
    display: table-cell;
    text-align: center;
    font-size: 30px;
    width: 25%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    margin-top: 15px;
    align-items: center;
}

footer h2 {
    text-align: center;
}

footer p {
    text-align: center;
}